@charset "utf-8";
/* CSS Document */

body{
	background-image: url("img/ocean.png");
	background-repeat: repeat;
}
img{align-content: center;
}

#box{
	width: 1500px;
	margin:0 auto;
	
}


header{ width: 800px;
	heigh:150px;
	text-align: end;
	font-size: 30px;
}


.grid-container {
  display: grid;
  grid-template-columns: 30% 40% 40%;
  grid-template-rows: 40% 40% 40%;
  gap: 3% 5%;
	background-color: aqua;

}


@media screen 
  and (min-width: 360px) 
  and (min-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}
